<footer class="footer">
© 2022 MicroStream Software. All rights reserved.
&nbsp;
&nbsp;
&nbsp;
<a href="https://microstream.one/imprint/">Imprint</a>
<span class="link-separator">&nbsp;&#124;&nbsp;</span>
<a href="https://microstream.one/terms-of-use/">Terms of use</a>
<span class="link-separator">&nbsp;&#124;&nbsp;</span>
<a href="https://microstream.one/privacy/">Privacy</a>
<span class="link-separator">&nbsp;&#124;&nbsp;</span>
<a href="https://microstream.one/legal-notice/">Legal notice</a>
</footer>