<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="MicroStream" href="{{{or site.url (or siteRootUrl siteRootPath)}}}"><img src="{{{uiRootPath}}}/img/logo.svg" alt="MicroStream"></a>
      <a class="navbar-item title" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://microstream.one/">MicroStream Home</a>
        <a class="navbar-item" href="https://api.docs.microstream.one/">API Docs</a>
      </div>
    </div>
  </nav>
</header>
